Flow
[{"id":"7dd6935.a97766c","type":"tab","label":"Modbus","disabled":false,"info":""},{"id":"d94c44bc.56ce48","type":"function","z":"7dd6935.a97766c","name":"FIT2 Total","func":"msg.payload = { 'unitid': 22, 'fc': 3, 'address': 3022 , 'quantity': 2 }\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":120,"wires":[["c97e1c7f.c800e"]]},{"id":"c97e1c7f.c800e","type":"modbus-flex-getter","z":"7dd6935.a97766c","name":"MB Poll","showStatusActivities":false,"showErrors":true,"logIOActivities":false,"server":"90681391.decbc","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":true,"keepMsgProperties":false,"x":640,"y":180,"wires":[[],["335c2285.43abbe","b8f8bd03.0a2d5","2d17d72e.7109b8","58accdb4.c23704","9bba83a.26e9a8"]]},{"id":"dfcd9ba0.1fc948","type":"inject","z":"7dd6935.a97766c","name":"16 sec","topic":"","payload":"","payloadType":"date","repeat":"16","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":120,"wires":[["d94c44bc.56ce48"]]},{"id":"58e1e89d.4be638","type":"function","z":"7dd6935.a97766c","name":"PH-17","func":"msg.payload = { 'unitid': 172, 'fc': 3, 'address': 3, 'quantity': 8 }\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":220,"wires":[["c97e1c7f.c800e"]]},{"id":"92dc422c.4e091","type":"inject","z":"7dd6935.a97766c","name":"1 min","topic":"","payload":"","payloadType":"date","repeat":"55","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":220,"wires":[["58e1e89d.4be638"]]},{"id":"d1a4b237.6156c","type":"function","z":"7dd6935.a97766c","name":"FIT2 Gal","func":"if ( msg.payload !== \"\" ) {             // modbus response received\n    msg.payload = msg.payload.buffer.readFloatBE(0);// * 264.172;\n    msg.formattedTotal = (msg.payload).toLocaleString('en');\n    context.set('count', 0);\n    return msg;\n}\nelse {                                  // failed response\n    var count = context.get('count');   // count of failed responses\n    if (typeof count == 'undefined') {  // count not initialized\n        count = 0;\n    }\n    context.set('count', count + 1 );   // increment count\n    if (count > 2) {                    // return value \"0\" after 3 fails\n        msg.payload = 0;\n        return msg;\n    }\n    else {\n        return null;                    // no msg, hold last value\n    }\n}\n","outputs":1,"noerr":0,"x":1280,"y":180,"wires":[["4a72b418.0acb0c","3075e74e.653478","8c0a55d2.264cc8"]]},{"id":"b943edf4.bd34d","type":"switch","z":"7dd6935.a97766c","name":"Add 3022","property":"modbusRequest.address","propertyType":"msg","rules":[{"t":"eq","v":"3022","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1140,"y":180,"wires":[["d1a4b237.6156c"]]},{"id":"4187f053.7fafa","type":"debug","z":"7dd6935.a97766c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":1730,"y":220,"wires":[]},{"id":"54ec4891.5e0b38","type":"function","z":"7dd6935.a97766c","name":"DO-17","func":"if ( msg.payload !== \"\" ) {             // modbus response received\n    msg.DO = msg.payload.buffer.readFloatBE(12);\n    msg.TempF = (msg.payload.buffer.readFloatBE(0) * 1.8) + 32.0;\n    msg.DOadj = (msg.DO + 0.67);\n    context.set('count', 0);\n    return msg;\n}\nelse {                                  // failed response\n    var count = context.get('count');   // count of failed responses\n    if (typeof count == 'undefined') {  // count not initialized\n        count = 0;\n    }\n    context.set('count', count + 1 );   // increment count\n    if (count > 2) {                    // return value \"0\" after 3 fails\n        msg.DO = 0;\n        msg.TempF = 0;\n        return msg;\n    }\n    else {\n        return null;                    // no msg, hold last value\n    }\n}\n","outputs":1,"noerr":0,"x":1050,"y":1280,"wires":[["b1573efe.42323","bbc26529.75f748"]]},{"id":"99625721.e049a8","type":"switch","z":"7dd6935.a97766c","name":"ID 171","property":"unitId","propertyType":"msg","rules":[{"t":"eq","v":"170","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":770,"y":1280,"wires":[["54ec4891.5e0b38"]]},{"id":"e0298a5b.6fbc88","type":"debug","z":"7dd6935.a97766c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":1610,"y":300,"wires":[]},{"id":"8f67b20b.e19ff","type":"function","z":"7dd6935.a97766c","name":"ORP-20","func":"msg.payload = { 'unitid': 203, 'fc': 3, 'address': 3, 'quantity': 8 }\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":1360,"wires":[[]]},{"id":"aa052365.855f1","type":"inject","z":"7dd6935.a97766c","name":"Off","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1360,"wires":[["8f67b20b.e19ff"]]},{"id":"db8b20d6.d0d52","type":"function","z":"7dd6935.a97766c","name":"ORP-20","func":"if ( msg.payload !== \"\" ) {             // modbus response received\n    msg.payload = msg.payload.buffer.readFloatBE(0);\n    context.set('count', 0);\n    return msg;\n}\nelse {                                  // failed response\n    var count = context.get('count');   // count of failed responses\n    if (typeof count == 'undefined') {  // count not initialized\n        count = 0;\n    }\n    context.set('count', count + 1 );   // increment count\n    if (count > 2) {                    // return value \"0\" after 3 fails\n        msg.payload = 0;\n        return msg;\n    }\n    else {\n        return null;                    // no msg, hold last value\n    }\n}\n","outputs":1,"noerr":0,"x":920,"y":1480,"wires":[["f71aab43.ad3fa8"]]},{"id":"8d438dfa.0e29e","type":"switch","z":"7dd6935.a97766c","name":"ID 203","property":"unitId","propertyType":"msg","rules":[{"t":"eq","v":"203","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":770,"y":1480,"wires":[["db8b20d6.d0d52"]]},{"id":"f71aab43.ad3fa8","type":"debug","z":"7dd6935.a97766c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":1070,"y":1480,"wires":[]},{"id":"bd63bf8e.b7e48","type":"function","z":"7dd6935.a97766c","name":"FIT2 Rate/Total","func":"msg.payload =\n                { 'unitid': 22,\n                'fc': 3,\n                'address': 3002 ,\n                'quantity': 2 }\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":60,"wires":[["c97e1c7f.c800e"]]},{"id":"18f478a6.019e77","type":"inject","z":"7dd6935.a97766c","name":"15 sec","topic":"","payload":"","payloadType":"date","repeat":"15","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":60,"wires":[["bd63bf8e.b7e48"]]},{"id":"a0898e0a.9bae4","type":"function","z":"7dd6935.a97766c","name":"FIT2 gpm","func":"if ( msg.payload !== \"\" ) {             // modbus response received\n    var measGpm = msg.payload.buffer.readFloatBE(0); // * 264.172 * 60.0;\n    var filtGpm = context.get('filter');\n    if (typeof filtGpm == 'undefined') {  // var not initialized\n        filtGpm = measGpm;\n    }\n    msg.payload = (filtGpm * 0.8) + (measGpm * 0.2);\n    context.set('filter', msg.payload);\n    context.set('count', 0);\n    return msg;\n}\nelse {                                  // failed response\n    var count = context.get('count');   // count of failed responses\n    if (typeof count == 'undefined') {  // count not initialized\n        count = 0;\n    }\n    context.set('count', count + 1 );   // increment count\n    if (count > 2) {                    // return value \"0\" after 3 fails\n        msg.payload = 0;\n        return msg;\n    }\n    else {\n        return null;                    // no msg, hold last value\n    }\n}\n","outputs":1,"noerr":0,"x":1280,"y":120,"wires":[["fe86aa2.2489958","498a5b5b.b18594","e1b47faf.183d3"]]},{"id":"75d2279b.e94818","type":"switch","z":"7dd6935.a97766c","name":"Add 3002","property":"modbusRequest.address","propertyType":"msg","rules":[{"t":"eq","v":"3002","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1140,"y":120,"wires":[["a0898e0a.9bae4"]]},{"id":"65c6d961.d46da8","type":"debug","z":"7dd6935.a97766c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":1670,"y":140,"wires":[]},{"id":"82186c33.0e409","type":"function","z":"7dd6935.a97766c","name":"PH-18","func":"msg.payload = { 'unitid': 182, 'fc': 3, 'address': 3, 'quantity': 4 }\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":280,"wires":[["c97e1c7f.c800e"]]},{"id":"b0b70a0b.bd7118","type":"function","z":"7dd6935.a97766c","name":"PH-18","func":"if ( msg.payload !== \"\" ) {             // modbus response received\n    msg.PH = msg.payload.buffer.readFloatBE(0);\n    msg.TempF = (msg.payload.buffer.readFloatBE(4) * 1.8) + 32.0;\n    context.set('count', 0);\n    return msg;\n}\n else {                                  // failed response\n    var count = context.get('count');   // count of failed responses\n    if (typeof count == 'undefined') {  // count not initialized\n        count = 0;\n    }\n    context.set('count', count + 1 );   // increment count\n    if (count > 2) {                    // return value \"0\" after 3 fails\n        msg.PH = 0;\n        msg.TempF = 0;\n        return msg;\n    }\n    else {\n        return null;                    // no msg, hold last value\n    }\n}\n","outputs":1,"noerr":0,"x":1270,"y":620,"wires":[["4ade6d15.a7eef4","d15dfef5.b5938"]]},{"id":"335c2285.43abbe","type":"switch","z":"7dd6935.a97766c","name":"ID 182","property":"unitId","propertyType":"msg","rules":[{"t":"eq","v":"182","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":990,"y":620,"wires":[["a8edabcf.975de8"]]},{"id":"7b9cf5fa.fbef0c","type":"function","z":"7dd6935.a97766c","name":"PH-20","func":"msg.payload = { 'unitid': 202, 'fc': 3, 'address': 3, 'quantity': 8 }\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":1320,"wires":[[]]},{"id":"84141ae0.f02c68","type":"inject","z":"7dd6935.a97766c","name":"Off","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1320,"wires":[["7b9cf5fa.fbef0c"]]},{"id":"d357120d.d3fc5","type":"function","z":"7dd6935.a97766c","name":"PH-20","func":"if ( msg.payload !== \"\" ) {             // modbus response received\n    msg.PH = msg.payload.buffer.readFloatBE(0);\n    msg.TempF = (msg.payload.buffer.readFloatBE(4) * 1.8) + 32.0;\n    context.set('count', 0);\n    return msg;\n}\nelse {                                  // failed response\n    var count = context.get('count');   // count of failed responses\n    if (typeof count == 'undefined') {  // count not initialized\n        count = 0;\n    }\n    context.set('count', count + 1 );   // increment count\n    if (count > 2) {                    // return value \"0\" after 3 fails\n        msg.PH = 0;\n        msg.TempF = 0;\n        return msg;\n    }\n    else {\n        return null;                    // no msg, hold last value\n    }\n}\n","outputs":1,"noerr":0,"x":1070,"y":1560,"wires":[["72b64b66.bed364","8aea2f3.52361d"]]},{"id":"546985f0.7dfc8c","type":"switch","z":"7dd6935.a97766c","name":"ID 202","property":"unitId","propertyType":"msg","rules":[{"t":"eq","v":"202","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":770,"y":1560,"wires":[["7fba8fe0.ab52b"]]},{"id":"b171246c.ee6ed8","type":"debug","z":"7dd6935.a97766c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","x":1410,"y":1540,"wires":[]},{"id":"9062e5c8.54b088","type":"function","z":"7dd6935.a97766c","name":"DO-17","func":"msg.payload = { 'unitid': 171, 'fc': 3, 'address': 83, 'quantity': 8 }\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":1260,"wires":[[]]},{"id":"672c5f4b.4dd2e","type":"function","z":"7dd6935.a97766c","name":"PH-17","func":"if ( msg.payload !== \"\" ) {             // modbus response received\n    msg.PH = msg.payload.buffer.readFloatBE(0);\n    msg.TempF = (msg.payload.buffer.readFloatBE(4) * 1.8) + 32.0;\n    context.set('count', 0);\n    return msg;\n}\nelse {                                  // failed response\n    var count = context.get('count');   // count of failed responses\n    if (typeof count == 'undefined') {  // count not initialized\n        count = 0;\n    }\n    context.set('count', count + 1 );   // increment count\n    if (count > 2) {                    // return value \"0\" after 3 fails\n        msg.PH = 0;\n        msg.TempF = 0;\n        return msg;\n    }\n    else {\n        return null;                    // no msg, hold last value\n    }\n}\n","outputs":1,"noerr":0,"x":1250,"y":480,"wires":[["2e6cc35b.2d288c","e33004b6.e18ad8"]]},{"id":"b8f8bd03.0a2d5","type":"switch","z":"7dd6935.a97766c","name":"ID 172","property":"unitId","propertyType":"msg","rules":[{"t":"eq","v":"172","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":990,"y":480,"wires":[["36571348.2e3f8c"]]},{"id":"1ca85587.dd07ba","type":"debug","z":"7dd6935.a97766c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"PH","targetType":"msg","x":1560,"y":480,"wires":[]},{"id":"426fa633.6716f8","type":"function","z":"7dd6935.a97766c","name":"DO-18","func":"msg.payload = { 'unitid': 181, 'fc': 3, 'address': 83, 'quantity': 8 }\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":1400,"wires":[[]]},{"id":"68a63b3b.7aee74","type":"function","z":"7dd6935.a97766c","name":"DO-18","func":"if ( msg.payload !== \"\" ) {             // modbus response received\n    msg.DO = msg.payload.buffer.readFloatBE(12);\n    msg.DOadj = (msg.DO + 0.95);\n    msg.TempF = (msg.payload.buffer.readFloatBE(0) * 1.8) + 32.0;\n    msg.payload = [ msg.payload.buffer.readFloatBE(0),\n                    msg.payload.buffer.readFloatBE(4),\n                    msg.payload.buffer.readFloatBE(8),\n                    msg.payload.buffer.readFloatBE(12) ];    \n    context.set('count', 0);\n    return msg;\n}\nelse {                                  // failed response\n    var count = context.get('count');   // count of failed responses\n    if (typeof count == 'undefined') {  // count not initialized\n        count = 0;\n    }\n    context.set('count', count + 1 );   // increment count\n    if (count > 2) {                    // return value \"0\" after 3 fails\n        msg.DO = 0;\n        msg.TempF = 0;\n        return msg;\n    }\n    else {\n        return null;                    // no msg, hold last value\n    }\n}\n","outputs":1,"noerr":0,"x":1050,"y":1380,"wires":[["583e98a.7864168","cf9a41e3.fd225"]]},{"id":"7140757e.8c3dac","type":"switch","z":"7dd6935.a97766c","name":"ID 181","property":"unitId","propertyType":"msg","rules":[{"t":"eq","v":"181","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":770,"y":1380,"wires":[["68a63b3b.7aee74"]]},{"id":"b2ff9356.80a46","type":"debug","z":"7dd6935.a97766c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","x":1370,"y":1380,"wires":[]},{"id":"36571348.2e3f8c","type":"switch","z":"7dd6935.a97766c","name":"Add 3","property":"modbusRequest.address","propertyType":"msg","rules":[{"t":"eq","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1130,"y":480,"wires":[["672c5f4b.4dd2e"]]},{"id":"2e6cc35b.2d288c","type":"groov-write-ds","z":"7dd6935.a97766c","dataStore":"a8ae967e.8e9fa8","tagName":"PH17_ph","tableStartIndex":"","value":"PH","valueType":"msg","name":"","x":1420,"y":480,"wires":[["1ca85587.dd07ba"]]},{"id":"277d24f1.c13b1c","type":"delay","z":"7dd6935.a97766c","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":280,"y":1260,"wires":[["9062e5c8.54b088"]]},{"id":"a8f369ef.4ecf18","type":"delay","z":"7dd6935.a97766c","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":280,"y":1400,"wires":[["426fa633.6716f8"]]},{"id":"5b33c3dc.fe88cc","type":"debug","z":"7dd6935.a97766c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"PH","targetType":"msg","x":1620,"y":620,"wires":[]},{"id":"4ade6d15.a7eef4","type":"groov-write-ds","z":"7dd6935.a97766c","dataStore":"a8ae967e.8e9fa8","tagName":"PH18_ph","tableStartIndex":"","value":"PH","valueType":"msg","name":"","x":1420,"y":620,"wires":[["5b33c3dc.fe88cc","3814360e.6b2b4a"]]},{"id":"e33004b6.e18ad8","type":"groov-write-ds","z":"7dd6935.a97766c","dataStore":"a8ae967e.8e9fa8","tagName":"PH17_tempF","tableStartIndex":"","value":"TempF","valueType":"msg","name":"","x":1430,"y":520,"wires":[[]]},{"id":"d15dfef5.b5938","type":"groov-write-ds","z":"7dd6935.a97766c","dataStore":"a8ae967e.8e9fa8","tagName":"PH18_tempF","tableStartIndex":"","value":"TempF","valueType":"msg","name":"","x":1430,"y":660,"wires":[["5f08e4a5.d49cfc"]]},{"id":"a8edabcf.975de8","type":"switch","z":"7dd6935.a97766c","name":"Add 3","property":"modbusRequest.address","propertyType":"msg","rules":[{"t":"eq","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1130,"y":620,"wires":[["b0b70a0b.bd7118"]]},{"id":"b1573efe.42323","type":"groov-write-ds","z":"7dd6935.a97766c","dataStore":"a8ae967e.8e9fa8","tagName":"DO17_ppm","tableStartIndex":"","value":"DO","valueType":"msg","name":"","x":1210,"y":1280,"wires":[[]]},{"id":"bbc26529.75f748","type":"groov-write-ds","z":"7dd6935.a97766c","dataStore":"a8ae967e.8e9fa8","tagName":"DO17_tempF","tableStartIndex":"","value":"TempF","valueType":"msg","name":"","x":1380,"y":1280,"wires":[[]]},{"id":"583e98a.7864168","type":"groov-write-ds","z":"7dd6935.a97766c","dataStore":"a8ae967e.8e9fa8","tagName":"DO18_ppm","tableStartIndex":"","value":"DO","valueType":"msg","name":"","x":1210,"y":1380,"wires":[["b2ff9356.80a46"]]},{"id":"cf9a41e3.fd225","type":"groov-write-ds","z":"7dd6935.a97766c","dataStore":"a8ae967e.8e9fa8","tagName":"DO18_tempF","tableStartIndex":"","value":"TempF","valueType":"msg","name":"","x":1220,"y":1420,"wires":[[]]},{"id":"2d17d72e.7109b8","type":"switch","z":"7dd6935.a97766c","name":"ID 22","property":"unitId","propertyType":"msg","rules":[{"t":"eq","v":"22","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":990,"y":120,"wires":[["75d2279b.e94818","b943edf4.bd34d"]]},{"id":"fe86aa2.2489958","type":"groov-write-ds","z":"7dd6935.a97766c","dataStore":"a8ae967e.8e9fa8","tagName":"FIT2_gpm","tableStartIndex":"","value":"","valueType":"msg.payload","name":"FIT2_gpm","x":1430,"y":120,"wires":[["65c6d961.d46da8","13f66dfa.77d2d2","a67fc359.e48a9"]]},{"id":"4a72b418.0acb0c","type":"groov-write-ds","z":"7dd6935.a97766c","dataStore":"a8ae967e.8e9fa8","tagName":"FIT2_Total","tableStartIndex":"","value":"","valueType":"msg.payload","name":"FIT2_Total","x":1470,"y":200,"wires":[["4187f053.7fafa"]]},{"id":"ae5e2a29.325c48","type":"function","z":"7dd6935.a97766c","name":"DO-17 Filtered Average Test","func":"if ( msg.payload !== \"\" ) {             // modbus response received\n      msg.TempF = (msg.payload.buffer.readFloatBE(0) * 1.8) + 32.0;\n      var measDO = msg.payload.buffer.readFloatBE(12);\n      var filtDO = context.get('DO');\n    if (typeof filtDO == 'undefined') {  // var not initialized\n        filtDO = measDO;\n    }\n    msg.payload = (filtDO * 0.8) + (measDO * 0.2);\n    context.set('DO', msg.payload);\n    context.set('count', 0);\n    return msg;\n    }\nelse {                                  // failed response\n    var count = context.get('count');   // count of failed responses\n    if (typeof count == 'undefined') {  // count not initialized\n        count = 0;\n    }\n    context.set('count', count + 1 );   // increment count\n    if (count > 2) {                    // return value \"0\" after 3 fails\n        msg.DO = 0;\n        msg.TempF = 0;\n        return msg;\n    }\n    else {\n        return null;                    // no msg, hold last value\n    }\n}\n","outputs":1,"noerr":0,"x":840,"y":1320,"wires":[["a9fdf50e.187318"]]},{"id":"a9fdf50e.187318","type":"groov-write-ds","z":"7dd6935.a97766c","dataStore":"a8ae967e.8e9fa8","tagName":"DO17_FIL_AVG","tableStartIndex":"","value":"","valueType":"msg.payload","name":"","x":1100,"y":1320,"wires":[["c650fe37.24e62"]]},{"id":"c650fe37.24e62","type":"debug","z":"7dd6935.a97766c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","x":1270,"y":1320,"wires":[]},{"id":"72b64b66.bed364","type":"groov-write-ds","z":"7dd6935.a97766c","dataStore":"a8ae967e.8e9fa8","tagName":"PH20_ph","tableStartIndex":"","value":"PH","valueType":"msg","name":"","x":1220,"y":1540,"wires":[["b171246c.ee6ed8"]]},{"id":"8aea2f3.52361d","type":"groov-write-ds","z":"7dd6935.a97766c","dataStore":"a8ae967e.8e9fa8","tagName":"PH20_tempF","tableStartIndex":"","value":"TempF","valueType":"msg","name":"","x":1230,"y":1580,"wires":[[]]},{"id":"7fba8fe0.ab52b","type":"switch","z":"7dd6935.a97766c","name":"Add 3","property":"modbusRequest.address","propertyType":"msg","rules":[{"t":"eq","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":910,"y":1560,"wires":[["d357120d.d3fc5"]]},{"id":"bc8b02b7.34998","type":"function","z":"7dd6935.a97766c","name":"DO-11","func":"// msg.payload = { 'unitid': 11, 'fc': 3, 'address': 40, 'quantity': 6}\nmsg.payload = { 'unitid': 11, 'fc': 3, 'address': 80, 'quantity': 2}\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":340,"wires":[["c97e1c7f.c800e"]]},{"id":"2f5f032d.a3d87c","type":"inject","z":"7dd6935.a97766c","name":"1 min","topic":"","payload":"","payloadType":"date","repeat":"57","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":340,"wires":[["bc8b02b7.34998"]]},{"id":"58accdb4.c23704","type":"switch","z":"7dd6935.a97766c","name":"ID 11","property":"unitId","propertyType":"msg","rules":[{"t":"eq","v":"11","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":990,"y":300,"wires":[["d6eacc49.d3538"]]},{"id":"d6eacc49.d3538","type":"function","z":"7dd6935.a97766c","name":"DO-11","func":"/* if ( msg.payload !== \"\" ) {             // modbus response received\n    msg.DO = msg.payload.buffer.readFloatBE(4) * 10;\n    context.set('count', 0);\n    return msg;\n}\nelse {                                  // failed response\n    var count = context.get('count');   // count of failed responses\n    if (typeof count == 'undefined') {  // count not initialized\n        count = 0;\n    }\n    context.set('count', count + 1 );   // increment count\n    if (count > 2) {                    // return value \"0\" after 3 fails\n        msg.DO = 0;\n        return msg;\n    }\n    else {\n        return null;                    // no msg, hold last value\n    }\n}*/\n\nmsg.DO = msg.payload.buffer.readFloatBE(0);\nmsg.payload = msg.DO;\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":300,"wires":[["2cff34a0.0762cc","e0298a5b.6fbc88"]]},{"id":"2cff34a0.0762cc","type":"groov-write-ds","z":"7dd6935.a97766c","dataStore":"a8ae967e.8e9fa8","tagName":"DO11_PPM","tableStartIndex":"","value":"DO","valueType":"msg","name":"","x":1390,"y":300,"wires":[[]]},{"id":"19a05525.cf4bcb","type":"inject","z":"7dd6935.a97766c","name":"1 min","topic":"","payload":"","payloadType":"date","repeat":"56","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":280,"wires":[["82186c33.0e409"]]},{"id":"3075e74e.653478","type":"groov-write-ds","z":"7dd6935.a97766c","dataStore":"a8ae967e.8e9fa8","tagName":"FIT2_formattedTotal","tableStartIndex":"","value":"formattedTotal","valueType":"msg","name":"FIT2_formattedTotal","x":1380,"y":240,"wires":[[]]},{"id":"13f66dfa.77d2d2","type":"change","z":"7dd6935.a97766c","name":"Change Payload Name","rules":[{"t":"move","p":"payload","pt":"msg","to":"FIT2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2170,"y":100,"wires":[["9122a1c5.53d8e"]]},{"id":"9122a1c5.53d8e","type":"link out","z":"7dd6935.a97766c","name":"Flow to City","links":["44fdc622.76b6b8","696c07bb.aae7c","d6ac3db5.d48008","546df73.b8fcf08"],"x":2355,"y":100,"wires":[]},{"id":"3814360e.6b2b4a","type":"link out","z":"7dd6935.a97766c","name":"BIO2 pH Link","links":["4ecd00f5.c234a","5d6a8c66.8e2ca4"],"x":1675,"y":560,"wires":[]},{"id":"5f08e4a5.d49cfc","type":"link out","z":"7dd6935.a97766c","name":"BIO2 Temp Link","links":["455c70b0.3be18","7b2080b2.bda86"],"x":1715,"y":660,"wires":[]},{"id":"8c0a55d2.264cc8","type":"change","z":"7dd6935.a97766c","name":"Change Payload Name","rules":[{"t":"move","p":"payload","pt":"msg","to":"FIT2_Total","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2170,"y":160,"wires":[["be91a091.ba943"]]},{"id":"be91a091.ba943","type":"link out","z":"7dd6935.a97766c","name":"Total to City","links":["128fcfb8.d9588","4fa5814c.2d552"],"x":2355,"y":160,"wires":[]},{"id":"6eae3cfe.f8c494","type":"function","z":"7dd6935.a97766c","name":"FM 101 Total","func":"msg.payload = { 'unitid': 101, 'fc': 3, 'address': 3022 , 'quantity': 2 }\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":560,"wires":[["3fb0132d.a6ab24"]]},{"id":"2100327d.45ca1e","type":"inject","z":"7dd6935.a97766c","name":"17 sec","topic":"","payload":"","payloadType":"date","repeat":"17","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":580,"wires":[["6eae3cfe.f8c494","fdc3fd96.141b9"]]},{"id":"159bb170.1a747f","type":"switch","z":"7dd6935.a97766c","name":"Add 3022","property":"modbusRequest.address","propertyType":"msg","rules":[{"t":"eq","v":"3022","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1140,"y":780,"wires":[["13f17032.c9d22"]]},{"id":"3909d3b7.f5ce9c","type":"debug","z":"7dd6935.a97766c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":1690,"y":840,"wires":[]},{"id":"b2808e5a.693d9","type":"switch","z":"7dd6935.a97766c","name":"ID 101","property":"unitId","propertyType":"msg","rules":[{"t":"eq","v":"101","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":990,"y":780,"wires":[["159bb170.1a747f","1512ae4f.ffa0b2"]]},{"id":"13f17032.c9d22","type":"function","z":"7dd6935.a97766c","name":"FM101 Total","func":"if ( msg.payload !== \"\" ) {             // modbus response received\n    msg.payload = msg.payload.buffer.readFloatBE(0);// * 264.172;\n    msg.formattedTotal = Math.trunc(msg.payload).toLocaleString('en');\n    context.set('count', 0);\n    return msg;\n}\nelse {                                  // failed response\n    var count = context.get('count');   // count of failed responses\n    if (typeof count == 'undefined') {  // count not initialized\n        count = 0;\n    }\n    context.set('count', count + 1 );   // increment count\n    if (count > 2) {                    // return value \"0\" after 3 fails\n        msg.payload = 0;\n        return msg;\n    }\n    else {\n        return null;                    // no msg, hold last value\n    }\n}\n","outputs":1,"noerr":0,"x":1310,"y":780,"wires":[["d7e9f1b2.d3624","2d688f3b.56efb"]]},{"id":"fdc3fd96.141b9","type":"function","z":"7dd6935.a97766c","name":"FM101 Rate","func":"msg.payload = { 'unitid': 101, 'fc': 3, 'address': 3002 , 'quantity': 2 }\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":620,"wires":[["3fb0132d.a6ab24"]]},{"id":"6096df9f.55f2b","type":"function","z":"7dd6935.a97766c","name":"FM101 Rate","func":"if ( msg.payload !== \"\" ) {             // modbus response received\n    var measGpm = msg.payload.buffer.readFloatBE(0); // * 264.172 * 60.0;\n    var filtGpm = context.get('filter');\n    if (typeof filtGpm == 'undefined') {  // var not initialized\n        filtGpm = measGpm;\n    }\n    // msg.payload = (filtGpm * 0.8) + (measGpm * 0.2);\n    msg.payload = measGpm;\n    context.set('filter', msg.payload);\n    context.set('count', 0);\n    return msg;\n}\nelse {                                  // failed response\n    var count = context.get('count');   // count of failed responses\n    if (typeof count == 'undefined') {  // count not initialized\n        count = 0;\n    }\n    context.set('count', count + 1 );   // increment count\n    if (count > 2) {                    // return value \"0\" after 3 fails\n        msg.payload = 0;\n        return msg;\n    }\n    else {\n        return null;                    // no msg, hold last value\n    }\n}\n","outputs":1,"noerr":0,"x":1310,"y":840,"wires":[["4daad11a.21458","b3e7ebc6.9fcfd8","576b0865.db9078","f8541f39.0f5fa"]]},{"id":"1512ae4f.ffa0b2","type":"switch","z":"7dd6935.a97766c","name":"Add 3002","property":"modbusRequest.address","propertyType":"msg","rules":[{"t":"eq","v":"3002","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1140,"y":840,"wires":[["6096df9f.55f2b"]]},{"id":"bda04535.dfb7d8","type":"debug","z":"7dd6935.a97766c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":1690,"y":780,"wires":[]},{"id":"4daad11a.21458","type":"groov-write-ds","z":"7dd6935.a97766c","dataStore":"a8ae967e.8e9fa8","tagName":"FM101_Rate","tableStartIndex":"","value":"","valueType":"msg.payload","name":"FM101_Rate","x":1490,"y":840,"wires":[["3909d3b7.f5ce9c","bdf56fb4.bc0cc8"]]},{"id":"d7e9f1b2.d3624","type":"groov-write-ds","z":"7dd6935.a97766c","dataStore":"a8ae967e.8e9fa8","tagName":"FM101_Total","tableStartIndex":"","value":"formattedTotal","valueType":"msg","name":"FM101_Total","x":1490,"y":780,"wires":[["bda04535.dfb7d8"]]},{"id":"2d688f3b.56efb","type":"link out","z":"7dd6935.a97766c","name":"FM101 Total","links":["4ce5dd32.9049d4","a58eebbf.a27ce8"],"x":1435,"y":740,"wires":[]},{"id":"b3e7ebc6.9fcfd8","type":"link out","z":"7dd6935.a97766c","name":"FM101 Rate","links":["55b443ab.78657c","e3fd1602.d312b8"],"x":1435,"y":1020,"wires":[]},{"id":"576b0865.db9078","type":"change","z":"7dd6935.a97766c","name":"GPM to GPH","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload * 60","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1490,"y":920,"wires":[["8614cf92.99d7c"]]},{"id":"f8541f39.0f5fa","type":"change","z":"7dd6935.a97766c","name":"GPM to GPD","rules":[{"t":"set","p":"payload","pt":"msg","to":"(msg.payload * 60) * 24","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1490,"y":960,"wires":[["eaabcbf.28ffc38"]]},{"id":"498a5b5b.b18594","type":"change","z":"7dd6935.a97766c","name":"GPM to GPD","rules":[{"t":"set","p":"payload","pt":"msg","to":"(msg.payload * 60) * 24","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1430,"y":80,"wires":[["12dbe676.10d67a"]]},{"id":"e1b47faf.183d3","type":"change","z":"7dd6935.a97766c","name":"GPM to GPH","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload * 60","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1430,"y":40,"wires":[["c4bface8.1533a"]]},{"id":"9ec1647b.3ca198","type":"groov-write-ds","z":"7dd6935.a97766c","dataStore":"a8ae967e.8e9fa8","tagName":"FM101_GPH","tableStartIndex":"","value":"","valueType":"msg.payload","name":"","x":1850,"y":920,"wires":[[]]},{"id":"249014b5.4dcc5c","type":"groov-write-ds","z":"7dd6935.a97766c","dataStore":"a8ae967e.8e9fa8","tagName":"FM101_GPD","tableStartIndex":"","value":"","valueType":"msg.payload","name":"","x":1850,"y":960,"wires":[[]]},{"id":"3d8c913.6e7486e","type":"groov-write-ds","z":"7dd6935.a97766c","dataStore":"a8ae967e.8e9fa8","tagName":"FIT2_GPH","tableStartIndex":"","value":"","valueType":"msg.payload","name":"","x":1870,"y":40,"wires":[[]]},{"id":"4a967efb.23a96","type":"groov-write-ds","z":"7dd6935.a97766c","dataStore":"a8ae967e.8e9fa8","tagName":"FIT2_GPD","tableStartIndex":"","value":"","valueType":"msg.payload","name":"","x":1870,"y":80,"wires":[[]]},{"id":"8614cf92.99d7c","type":"function","z":"7dd6935.a97766c","name":"Format Output","func":"formattedNumber = (Math.trunc(msg.payload)).toLocaleString('en');\nmsg.payload = formattedNumber;\nreturn msg;\n","outputs":1,"noerr":0,"x":1660,"y":920,"wires":[["9ec1647b.3ca198"]]},{"id":"eaabcbf.28ffc38","type":"function","z":"7dd6935.a97766c","name":"Format Output","func":"formattedNumber = (Math.trunc(msg.payload)).toLocaleString('en');\nmsg.payload = formattedNumber;\nreturn msg;\n","outputs":1,"noerr":0,"x":1660,"y":960,"wires":[["249014b5.4dcc5c"]]},{"id":"c4bface8.1533a","type":"function","z":"7dd6935.a97766c","name":"Format Output","func":"formattedNumber = (Math.trunc(msg.payload)).toLocaleString('en');\nmsg.payload = formattedNumber;\nreturn msg;\n","outputs":1,"noerr":0,"x":1600,"y":40,"wires":[["3d8c913.6e7486e"]]},{"id":"12dbe676.10d67a","type":"function","z":"7dd6935.a97766c","name":"Format Output","func":"formattedNumber = (Math.trunc(msg.payload)).toLocaleString('en');\nmsg.payload = formattedNumber;\nreturn msg;\n","outputs":1,"noerr":0,"x":1600,"y":80,"wires":[["4a967efb.23a96"]]},{"id":"a67fc359.e48a9","type":"link out","z":"7dd6935.a97766c","name":"fit2gpm","links":["ee4b7374.c8ac68"],"x":1540,"y":160,"wires":[]},{"id":"2d753748.68b738","type":"function","z":"7dd6935.a97766c","name":"PH-50","func":"msg.payload = { 'unitid': 50, 'fc': 3, 'address': 3, 'quantity': 4 }\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":400,"wires":[["c97e1c7f.c800e"]]},{"id":"e4a577bd.281598","type":"inject","z":"7dd6935.a97766c","name":"1 min","topic":"","payload":"","payloadType":"date","repeat":"58","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":400,"wires":[["2d753748.68b738"]]},{"id":"9bba83a.26e9a8","type":"switch","z":"7dd6935.a97766c","name":"ID 50","property":"unitId","propertyType":"msg","rules":[{"t":"eq","v":"50","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":990,"y":360,"wires":[["50b2f8a0.7b97c8"]]},{"id":"50b2f8a0.7b97c8","type":"function","z":"7dd6935.a97766c","name":"PH-50","func":"if ( msg.payload !== \"\" ) {             // modbus response received\n    msg.PH = msg.payload.buffer.readFloatBE(0);\n    context.set('count', 0);\n    return msg;\n}\nelse {                                  // failed response\n    var count = context.get('count');   // count of failed responses\n    if (typeof count == 'undefined') {  // count not initialized\n        count = 0;\n    }\n    context.set('count', count + 1 );   // increment count\n    if (count > 2) {                    // return value \"0\" after 3 fails\n        msg.PH = 0;\n        return msg;\n    }\n    else {\n        return null;                    // no msg, hold last value\n    }\n}\n","outputs":1,"noerr":0,"x":1150,"y":360,"wires":[["d146f0fe.161c"]]},{"id":"d146f0fe.161c","type":"groov-write-ds","z":"7dd6935.a97766c","dataStore":"a8ae967e.8e9fa8","tagName":"PH50","tableStartIndex":"","value":"PH","valueType":"msg","name":"","x":1330,"y":360,"wires":[["28777fa1.535ae","526502ca.4a7e8c"]]},{"id":"28777fa1.535ae","type":"debug","z":"7dd6935.a97766c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"PH","targetType":"msg","x":1660,"y":360,"wires":[]},{"id":"526502ca.4a7e8c","type":"link out","z":"7dd6935.a97766c","name":"PH50","links":["d972a288.6a6a08"],"x":1415,"y":380,"wires":[]},{"id":"bdf56fb4.bc0cc8","type":"link out","z":"7dd6935.a97766c","name":"FM101 PID","links":["b5489684.c520f"],"x":1575,"y":880,"wires":[]},{"id":"3fb0132d.a6ab24","type":"modbus-flex-getter","z":"7dd6935.a97766c","name":"MB Poll","showStatusActivities":false,"showErrors":true,"logIOActivities":false,"server":"90681391.decbc","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":true,"keepMsgProperties":false,"x":620,"y":600,"wires":[[],["b2808e5a.693d9"]]},{"id":"90681391.decbc","type":"modbus-client","z":"","name":"SerPort1","clienttype":"serial","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttySerMod0.1","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"2","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"","unit_id":1,"commandDelay":100,"clientTimeout":2000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":false},{"id":"a8ae967e.8e9fa8","type":"groov-data-store","z":"","project":"97dd04c9.7899e8","dsName":"DataStore"},{"id":"97dd04c9.7899e8","type":"groov-project","z":"","address":"localhost","msgQueueFullBehavior":"DROP_OLD"}]
